<tr>
  <td><%= event.title %></td>
  <td><%= event.slug %></td>
  <td><%= link_to "Projects", admin_event_projects_path(event) %></td>
  <td><%= link_to "Edit", edit_admin_event_path(event) %></td>
  <td><%= link_to "Delete", admin_event_path(event), :method => 'DELETE', :confirm => "Are you sure you want to delete this event?" %></td>
</tr>