<div id="projects" class="centres">
    <ul class="centre_selection">
        <% @event.centres.each do |c| %>
          <li class="<%= 'selected' if c == @centre %>"><%= link_to c.name, centre_event_path(@event, c.slug, :anchor => "projects") %></li>
        <% end %>
    </ul>
    <div class="projects">
        <% if @centre.projects.any? %>
        <ul>
            <% @centre.projects.each do |project| -%>
                <%= render :partial => 'single_project', :locals => {:project => project, :winners => false} %>
            <% end -%>
        </ul>
        <% else %>
          <p class="no_projects">We don't have any projects yet from <strong><%= @centre.name %></strong>. <%= link_to "Add yours!", new_event_project_path(@event) %></p>
        <% end %>
    </div>
    <div class="clear"></div>
</div>