<%= semantic_nested_form_for([:admin, parent, resource]) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs "Basic Info" do %>
    <%= f.input :title %>
    <%= f.input :slug, :input_html => { :disabled => true } %>
    <%= f.input :team %>
    <%= f.input :url %>
    <% if ! parent.secret.present? %>
      <%= f.input :secret %>
    <% end %>
  <% end %>

  <%= f.inputs "Description" do %>
    <%= f.input :summary, :input_html => { :rows => 5 } %>
    <%= f.input :description, :input_html => { :rows => 8 } %>
    <%= f.input :ideas, :input_html => { :rows => 5 } %>
    <%= f.input :data, :input_html => { :rows => 5 } %>
  <% end %>

  <%= f.inputs "Links" do %>
    <%= f.input :twitter %>
    <%= f.input :github_url %>
    <%= f.input :svn_url %>
    <%= f.input :code_url %>
  <% end %>

  <%= f.inputs "Image" do %>
    <%= f.input :image %>
    <li class="input"><%= label_tag nil, "Current screenshot", :class => 'label' %><%= image_tag resource.image.url(:mini) %></li>
  <% end %>

  <%= f.inputs "Awards" do %>
    <%= f.semantic_fields_for :awards do |award_fields| %>
      <%= award_fields.input :award_category, :collection => resource.event.award_categories %>
      <%= award_fields.link_to_remove "Remove this award" %>
    <% end %>
    <%= f.link_to_add "Add an award", :awards %>
  <% end %>

  <%= render :partial => "admin/shared/actions", :locals => { :f => f } %>
<% end %>