<% if @project.errors.any? %>  
<ul class="errors">  
 	<% @project.errors.full_messages.each do |msg| %>  
	<li class="message message_error"><%= msg %></li>  
	<% end %>  
</ul>  
<% end %>

<% if @event.has_secret? -%>
<fieldset class="secret">
    <p>
        <%= f.label :my_secret, "Event Password <span>*</span>".html_safe %>
        <%= f.text_field :my_secret %>
        <span class="field_description">Enter the event password, as given out at the event, to <%= (@project.new_record?) ? "add" : "make changes to" %> this project.</span>
    </p> 
</fieldset>
<% elsif !@project.new_record? -%>
<fieldset class="secret">
    <p>
        <%= f.label :my_secret, "Project Password <span>*</span>".html_safe %>
        <%= f.text_field :my_secret %>
        <span class="field_description">Enter the project password to make changes to this project.</span>
    </p> 
</fieldset>
<% end -%>

<fieldset>
    <p>
        <%= f.label :title, "Project Title <span>*</span>".html_safe %>
        <%= f.text_field :title, :class => 'biginput' %>
    </p>                               
    <p>
        <%= f.label :team, "Project Team <span>*</span>".html_safe %>
        <%= f.text_field :team %>
        <span class="field_description">Who built this project?</span>
    </p>
    <p>
        <%= f.label :url, "Project URL <span>*</span>".html_safe %>
        <%= f.text_field :url %> 
        <span class="field_description">The URL to the website or prototype of your project.</span>
    </p>
    <p>
        <%= f.label :summary, "Project Summary <span>*</span>".html_safe %>
        <%= f.text_field :summary, :limit => 140 %>
        <span class="field_description">An overview of your project in 140 characters or less.</span>
    </p>
</fieldset>             

<fieldset>
<p>
    <%= f.label :description, "Description of your project <span>*</span>".html_safe %>
    <%= f.text_area :description %>                          
    <span class="field_description">Tell us about your project. You can use Markdown in this field.</span>
</p>                                                                                
<p>
    <%= f.label :data, "Data used in your project" %>
    <%= f.text_area :data %>                          
    <span class="field_description">What data did you use in your project? You can use Markdown in this field.</span>
</p>
<p>
    <%= f.label :ideas, "Ideas for taking your project forwards" %>
    <%= f.text_area :ideas %>                          
    <span class="field_description">What else would you like to add to your project? You can use Markdown in this field.</span>
</p>
<p>
    <%= f.label :costs, "Costs for taking your project forwards" %>
    <%= f.text_area :costs %>                          
    <span class="field_description">What costs, if any, are involved in taking your project forwards? You can use Markdown in this field.</span>
</p>     
</fieldset> 

<fieldset>
<p>
    <%= f.label :twitter, "Twitter accounts" %>
    <%= f.text_field :twitter %>                          
    <span class="field_description">You can list multiple Twitter accounts with commas. We'll link them automagically.</span>
</p>                                                                                
<p>
    <%= f.label :github_url, "GitHub URL" %>
    <%= f.text_field :github_url %>         
</p>
<p>
    <%= f.label :svn_url, "SVN URL" %>
    <%= f.text_field :svn_url %>         
</p>                     
<p>
    <%= f.label :code_url, "Code URL" %>
    <%= f.text_field :code_url %>
    <span class="field_description">You can link to any other repository for your code here.</span>         
</p>                                                           
<p>
    <%= f.label :image, "Screenshot" %>
    <%= f.file_field :image %> 
    <span class="field_description">You can upload an image or screenshot of your app. Ideal size 1080x640.</span> 
</p>
</fieldset>          

<% if @project.new_record? %>        
    <% unless @event.has_secret? -%>
    <fieldset class="secret">
        <p>
            <%= f.label :secret, "Choose a project password <span>*</span>".html_safe %>
            <%= f.text_field :secret %>
            <span class="field_description">Enter a word which will be required to make further changes to this project.</span>
        </p> 
    </fieldset>
    <% end -%>

    <p>Once you're happy with your project details, hit <em>Create</em> below. Your project will appear instantly on the <%= @event.title %> event page.</p>          
    <p class="submit"><%= f.submit "Create Project" %></p>
<% else %> 
    <p class="submit"><%= f.submit "Save Project" %></p>
<% end %>